body
{
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;

}

#header
{
    text-align: center;
    padding-top: 8px;
    background-color:#00cc99;
    color: white;
    height: 50px;
    position: relative;
    margin-top: 0%;
    width: 100%;
    margin-left: 0%;
}

/* Leftside details */

#leftcoloumn
{
    text-align: start;
    padding-top: 5%;
}


#name
{
    border-style: groove;
    border-radius: 5px;
    border-color:rgb(192, 216, 214);
    height: 30px;
    width: 200px;
    
}
#gender
{
    border-style: groove;
    border-radius: 5px;
    border-color:rgb(192, 216, 214);
    height: 30px;
    width: 200px;
}

#dob
{
    border-style: groove;
    border-radius: 5px;
    border-color:rgb(192, 216, 214);
    height: 30px;
    width: 200px;
}

#mobno
{
    border-style: groove;
    border-radius: 5px;
    border-color:rgb(192, 216, 214);
    height: 30px;
    width: 200px;
}

#button
{
    color: white;
    background-color: rgb(128, 0, 255);
    border-radius: 5px;
    border:10px solid rgb(128, 0, 255);
    border-spacing: 5px;
    
}


#button:hover
{
    color: white;
    background-color: red;
    border-radius: 5px;
    border:10px solid red;
    border-spacing: 5px;
}

.cellwidth
{
    width: 80px;
}

#clear
{
    color: white;
    background-color: yellowgreen;
    border-radius: 5px;
    border:10px solid yellowgreen;
    border-spacing: 5px;
}

#clear:hover
{
    color: white;
    background-color: green;
    border-radius: 5px;
    border:10px solid green;
    border-spacing: 5px;
}


/* Rightside details */

#rightcoloumn
{
    float: right;
    padding-top: 10px;
    text-align: center;
}

#enrolledtable
{
   
    background-color: #ace600;
    border-style: solid;
    color: white;
    border: 1px solid #ace600;
    position:absolute;
    overflow: scroll;
       
}


#tablecaption
{
    position: absolute;
    height: 30px;
    width: 80px;
}

#tableheader
{
    padding-top: 20px;
    width: 500x;
    border-style: solid;
    border-color: #ace600;
}

#headerdes
{
    width: 350px;
}

#headerimg
{
    width: 150px;
}

.my-custom-scrollbar 
{
    position: relative;
    overflow-y: auto;
    height: 400px;
    width: 400px;
}

.table-wrapper-scroll-y 
{
    display: block;
}

#trow1
{

    border-color: #ace600;
    border-style: solid;
    color: black;
    text-align: start;
    padding-left: 7px;
}



#tdata1
{
    color: black;
   
    border-color: #ace600;
    border-style: solid;
    padding-left: 15px;
    text-align: start;
}

#tvalue1{
    color: black;

    border-color: #ace600;
    border-style: solid;
    padding-left: 15px;
    text-align: start;
}

#trow2
{
   
    border-color: #ace600;
    border-style: solid;
    color: black;
    text-align: start;
    padding-left: 7px;
}



#tdata2
{
    color: black;

    border-color: #ace600;
    border-style: solid;
    padding-left: 15px;
    text-align: start;
}

#tvalue2{
    color: black;
 
    border-color: #ace600;
    border-style: solid;
    padding-left: 15px;
    text-align: start;
}


#trow3
{

    border-color: #ace600;
    border-style: solid;
    color: black;
    text-align: start;
    padding-left: 7px;
}



#tdata3
{
    color: black;
   
    border-color: #ace600;
    border-style: solid;
    padding-left: 15px;
    text-align: start;
}

#tvalue3{
    color: black;

    border-color: #ace600;
    border-style: solid;
    padding-left: 15px;
    text-align: start;
}


#trow4
{

    border-color: #ace600;
    border-style: solid;
    color: black;
    text-align: start;
    padding-left: 7px;
}



#tdata4
{
    color: black;

    border-color: #ace600;
    border-style: solid;
    padding-left: 15px;
    text-align: start;
}

#tvalue4{
    color: black;

    border-color: #ace600;
    border-style: solid;
    padding-left: 15px;
    text-align: start;
}





#footer
{
    text-align: center;
    color: white;
    padding-top: 3px;
    bottom: 0%;
    position: fixed;
    width: 100%;
}